.reputation_bar
{
	width:100%;
	box-sizing:border-box;
	border:1px solid #777;
	border-radius:3px;
	overflow:hidden;
}
.reputation_color{}
.reputation_icon { display: inline-block; width:20px; border-radius:30px;}
.yellow {background-color:yellow;}
.orange {background-color:orange;}
.red {background-color:red;}
.green {background-color:green;}

.comments .comment{margin:10px 10px 20px 10px;}



/* links */
/*
a, a:visited {
		color:#FF5949;
		text-decoration:none;
		display: inline-block;
		padding:.3em;
		border:1px solid transparent;
		border-radius:3px;
}

a:hover {
		text-decoration:none;
		color:black;
		border:1px solid #999;
		background:#FF5949;
}
 */

/* lists */
/*
#menu ul.navbar li {
		display:inline;
		margin:0 .3em;
}
 */

/* tags */
/*
p {
		margin:2em 0;
		color:#555;
}
 */
pre.debug {font-size:8px;}

table th,
table td
{text-align:left;padding:0 20px;border-bottom:1px solid #aaa;}



/* forms */
/*
.form_buttons {text-align:center; margin:15px 0;}
label {font-weight:300;display:inline-block;width:200px;text-align:right;margin-right:10px;font-size:18pt;vertical-align:top;}

input[type=text],
input[type=email],
input[type=password],
select,
textarea
{width:300px; text-align:left; margin-left:20px;font-size:18pt;padding:10px;border-radius:6px;border-color:#bbb;}
.comments textarea {width:100%; box-sizing:border-box;}
textarea {height:100px;}

input[type=submit]
{width:auto; text-align:left; font-size:18pt;padding:10px;border-radius:6px;text-align:center;}
 */

